img.foto {
  width: 60px;
  border-radius: 10px;
}
img.foto-preview {
  width: 240px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0 auto;
}
.table > tbody > tr > * {
  vertical-align: middle;
}
.middle {
  vertical-align: middle;
}
img.back {
  margin-top: 3px;
  width: 35px;
  height: 35px;
}
